<!DOCTYPE html>
<html>

<head>
 <meta charset="UTF-8"></meta>
 <meta HTTP-EQUIV="refresh" CONTENT="10"></meta>
 <link rel="stylesheet" href="http://10.0.0.244/monitapp/static/css/monit.css"></link>
 <script src="http://10.0.0.244/monitapp/static/js/monit.js"></script>
</head>

<body>
<p><b><center>monit API register a workstation or PC</center>
</b></p>
<div id='maindivtext'>
<main>
      {% block content %}
      {% endblock %}
</main>
</div>
    <script src="http://10.0.0.244/monitapp/static/js/jquery.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>

